rules_version = '2';

// Storage Rules! Don't need storage anymore, actually. test7
service firebase.storage {
  match /b/{bucket}/o {

    // Match the specific analytics file or any path
    match /{allPaths=**} {

      // Allow any authenticated user to read (Dashboard loading)
      allow read: if request.auth != null;

      // Block all writes from the web/mobile client
      // (Your Admin SDK scripts will still be able to write)
      allow write: if false;
    }
  }
}